<p><%= link_to "Admin Index Page", admin_index_path  %></p>
<p><%= link_to "Admin Merchant Index Page", admin_merchants_path  %></p>
<p><%= link_to "First Merchant's Dashboard", merchant_dashboard_path(Merchant.all.first)  %></p>