<%= link_to 'Back', :back %> - <%= link_to 'Back to Merchant Dashboard', merchant_dashboard_path(@merchant) %>


<h3>Edit Item</h3>
<%= render partial: 'edit_form', locals: {
url: "/merchants/#{@merchant.id}/items/#{@item.id}",
method: :patch,
item: @item }%>